layer-rule {
    match namespace="launcher"
    opacity 0.8
    background-effect {
        blur true
        xray false 
    }
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
    background-effect {
      blur false
    }
}
layer-rule {
    match namespace="dms:*"
    background-effect {
        blur true
        xray false
    }
}
layer-rule {
    match namespace="^dms:.*:background"
    background-effect {
        blur false
        xray false
    }
}
layer-rule{
  match namespace="dms:tray-menu-window"
  background-effect{
    blur false
    xray false
  }
}
layer-rule {
    match namespace="dms:dock"
    background-effect {
        blur false
        xray false
    }
}
layer-rule{
  match namespace="dms:niri*"
  background-effect{
    blur false
    xray false
  }
}
