// opacity config
window-rule {
    opacity 0.85
}

// opcity blacklist
window-rule {
    // browser
    match app-id="^firefox$"
    match app-id="^google-chrome$"
    match app-id="^chrome-" 
    
    // vidoeplayer and imageveiwer
    match app-id="^mpv$"
    match app-id="^vlc$"
    match app-id=r#"^org\.gnome\.Showtime$"#
    match app-id=r#"^org\.gnome\.Louts$"#
    match app-id=r#"^org\.gnome\.Evince$"#
    
    opacity 1.0
}

// disable transparent for floatting window
window-rule {
    match is-floating=true
    opacity 1.0
}

// set terminal column width to 1.0 on startup
window-rule {
    match app-id="wezterm"
    match app-id="ghostty"
    match app-id="alacritty"
    default-column-width { proportion 1.0; }
}
